.container{
    width: 600px;
    display: flex;
}

.image{
    width: 300px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product-img{
    flex: 1;
}

.product-details{
    margin-left: 20px;
    flex: 1;
}

.perfume-name{
    margin-top: 20px;
    font-family: "Tenor Sans", sans-serif;
    color: rgb(23, 23, 23);
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
}

.perfume{
    font-size: 25px;
    font-family: Arial;
}

.rating{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 120px 1fr;
}

.checked{
    color: orange;
}

.price{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.add-btn {
    margin-top: 50px;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: orange;
    cursor: pointer;
    transition: width 0.25s ease, background-color 0.25s ease;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.shopping-cart {
    margin-left: 85px;
    width: 30px;
    transition: margin-left 0.25s;
}

.add-to-cart {
    margin-left: 10px;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.25s ease;
    white-space: nowrap;
}

.add-btn:hover {
    width: 220px;
    background-color: rgba(255, 166, 0, 0.9);
}

.add-btn:hover .add-to-cart {
    opacity: 1;
}

.add-btn:hover .shopping-cart {
    margin-left: 0px;
}